.page-container {
    padding-top: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.nav-bar {
    height: 50px;
    background-color: var(--colorBrandBackground);
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px 15px 5px 15px;
    justify-content: space-between;
}