@inherits LayoutComponentBase

<PageTitle>Project Email Processor</PageTitle>

<div>
    <main>
        <FluentErrorBoundary>
            @Body
        </FluentErrorBoundary>
    </main>
</div>

@* <FluentProviders /> *@
@* 
<FluentTooltipProvider/>
<FluentToastProvider/> *@