@inherits LayoutComponentBase
<div>
    <main>
        <FluentErrorBoundary>
            <ChildContent>
                @Body
            </ChildContent>
            @* <ErrorContent>
                Fuck
            </ErrorContent> *@
        </FluentErrorBoundary>
    </main>
</div>

@* <FluentProviders /> *@
@* 
<FluentTooltipProvider/>
<FluentToastProvider/> *@